h1{
    display: flex;
    justify-content: center;
}
.multimobile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.multimobile img{
    height: 280px;
    width: 300px;
}

.multimobile #mobile1 {
    width: 350px;
    height: 300px;
}
.multimobile #mobile2{
    height: 370px;
    width: 410px;
}
.container{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}
.container h1{
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    font-size: 50px;
    font-style: italic;
}

.container form input{
    width: 450px;
    height: 40px;
    border-radius: 10px;

}.container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container form button{
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: whitesmoke;
    background-color: cornflowerblue;
}
.container .btn:hover{
    background-color: gray;
    color: black;
}
table {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
}
table tr{
    margin: 20px;
}
table tr th{
    border: 1px solid black;
    padding: 20px;
    font-size: 35px;
    color: gray;
    font-family: sans-serif;
}
table tr th button{
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 10px;
}
tr >td{
    border: 1px solid black;
}
.overImage img{
    margin: 40px 0px;
    border-radius: 10px;
}
.overImage img{
    width: 300px;
    height: 400px;
}